.rex-activity {
  &-table {
    tbody {
      tr {
        td {
          a:not(.btn) {
            text-decoration: underline;
          }

          .badge {
            color: #ffffff;

            &.add {
              background-color: #28a745;
            }

            &.info,
            &.update,
            &.edit {
              background-color: #4b9ad9;
            }

            &.notice {
              background-color: #919191;
            }

            &.debug {
              background-color: #17a2b8;
            }

            &.warning {
              background-color: #ffa700;
            }

            &.error,
            &.delete {
              background-color: #dc3545;
            }

            &.critical {
              background-color: #c400c4;
            }
          }
        }
      }
    }
  }

  &-btn-disabled {
    background-color: #333333 !important;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

form#activity-log-settings {
  .rex-form-group {
    margin-bottom: 0;

    dd {
      padding-left: 0;
    }
  }

  .form-group-header {
    margin-top: 15px;
  }
}

body.rex-theme-dark {
}

@media (prefers-color-scheme: dark) {
}
