# editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.php]
indent_size = 4
ij_php_special_else_if_treatment = false
ij_any_special_else_if_treatment = false
ij_php_block_brace_style = end_of_line
ij_php_class_brace_style = next_line
ij_php_method_brace_style = next_line
ij_php_anonymous_brace_style = end_of_line
ij_php_catch_on_new_line = true
ij_php_else_on_new_line = true
ij_php_finally_on_new_line = true
ij_php_for_brace_force = always
ij_php_if_brace_force = never
ij_php_space_after_type_cast = true
ij_php_space_after_colon_in_return_type = true
ij_php_blank_lines_after_imports = 1
ij_php_blank_lines_before_imports = 1
ij_php_align_class_constants = false
ij_php_align_assignments = false
ij_php_align_inline_comments = false
ij_php_align_key_value_pairs = false
ij_php_align_group_field_declarations = false
ij_php_align_multiline_array_initializer_expression = false
ij_php_align_multiline_for = false
ij_php_align_phpdoc_comments = false
ij_php_align_phpdoc_param_names = false
ij_php_import_sorting = alphabetic
ij_php_blank_lines_after_class_header = 0
ij_php_blank_lines_before_class_end = 0
ij_php_else_if_style = combine
ij_any_else_on_new_line = false

[*.html]
indent_size = 4
